@use '../../styles/constants' as *;

.question {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 95%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    min-height: 200px;
    max-width: 1100px;
  
    @media(min-width:$wideView){
        display:grid;
        grid-template-columns:1fr 1fr;
        row-gap:50px;
        width:80%;
    }


    @media (min-width: $desktopView) {
        display: flex;
        flex-direction: row;
    }

    .section {
        overflow:none;
        position:relative;
        cursor: pointer;
        width: 150px;
        height: 200px;
        border: 2px solid rgb(132, 132, 121);
        margin: auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        font-size: 48px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;


        &.active {
            border: 2px solid rgb(47, 85, 255);
        }

        &.error{
            border: 2px solid $errorColor;
        }

        &.success{
            border: 2px solid $successColor;
        }
    }
}
